/* About styles */

#hero {
  overflow: hidden;
  width: 100vw;
  height: auto;
}

#hero img {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  height: auto;
}

.about-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  padding-right: 165px;
  color: #ffffff;
  
}

#p-about {
  font-family: Arial, Helvetica, sans-serif;
  color: #505356;
  text-align: center;
}