.breadcrumbs-container {
  text-align: center;
  font-size: larger;
  /* Center the content */
}

.nav-link {
  display: flex;
}

.nav {
  list-style: none;
  width: 40vw;
}

.nav-link:visited {
  text-decoration: none;
  color: #ffff;
}

.nav-link.active {
  color: #042f68;
  display: flex;
}

@media (max-width: 589px) {
  .nav {
    flex-direction: column;
  }
}